:root {
  --Text_black: #101012;
  --Card_bg-grey: #f9f9f9;
  --Secondary_Grey: #8c8c8c;
  --Darkmode_BG: #001c3c;
  --Categoris_Gold: #dcae1e;
  --Links_Tech_Blue: #009dff;
  --Sports_Green: #00b910;
  --logo-blue: #05386b;
  --Economy_Orange: #df4901;
  --Mix: #ac35a4;
  --dark-navy-blue: #000a17;
}
 
body.dark-mode #search-wrap, 
body.dark-mode #nav-bar,
body.dark-mode .entries article.btn-entry .btn-holder a.btn, 
body.dark-mode .header, 
body.dark-mode .section, 
body.dark-mode .columns ,
body.dark-mode{ background: var(--dark-navy-blue);}
body.dark-mode figure{background-color: #001731;}
body.dark-mode .advert-holder, 
body.dark-mode .font-manage a, 
body.dark-mode .related-inside li a, 
body.dark-mode .menu-active .dropdown-menu a, 
body.dark-mode .dropdown-menu li a, 
body.dark-mode .section-title a, 
body.dark-mode .mix .section-title a, 
body.dark-mode .sports .section-title a, 
body.dark-mode economy .section-title a, 
body.dark-mode .science .section-title a, 
body.dark-mode .authors .text, 
body.dark-mode .entry-title a, 
body.dark-mode .mainnav a, 
body.dark-mode{color:#fff;}
body.dark-mode .header{border-bottom: solid 1px #08294f;}
body.dark-mode .videos-default {background-color: #011e40;}
body.dark-mode .article-updates{background-color: #001731;}
body.dark-mode .entries article.btn-entry .btn-holder a.btn{border: solid 2px #fff;color: #fff;}
body.dark-mode .videos-default .entries article.btn-entry .btn-holder a.btn{background-color: #011e40;}
body.dark-mode .search-control{background: none;}
body.dark-mode .entries article.btn-entry .btn-holder a.btn, 
body.dark-mode .entries article.btn-entry .btn-holder a.btn:hover, 
body.dark-mode .mix .entries article.btn-entry .btn-holder a.btn, 
body.dark-mode .mix .entries article.btn-entry .btn-holder a.btn:hover, 
body.dark-mode .sports .entries article.btn-entry .btn-holder a.btn,
body.dark-mode .sports .entries article.btn-entry .btn-holder a.btn:hover, 
body.dark-mode .science .entries article.btn-entry .btn-holder a.btn, 
body.dark-mode .science .entries article.btn-entry .btn-holder a.btn:hover, 
body.dark-mode .economy .entries article.btn-entry .btn-holder a.btn, 
body.dark-mode .economy .entries article.btn-entry .btn-holder a.btn:hover {border: solid 2px #fff;color: #fff;background:none;}
body.dark-mode .fa-search {background: url(../img/dark-mode-search.svg) no-repeat;}
body.dark-mode .fa-dark{background: url(../img/light-mode-btn.svg) no-repeat;}
body.dark-mode .logo{background: url(../img/dark-logo.svg) no-repeat; background-size: 98%;}
body.dark-mode .fa-app-store{background: url(../img/dark-icon-apple.svg) no-repeat;}
body.dark-mode .fa-google-play {background: url(../img/dark-play-store.svg) no-repeat;}
body.dark-mode .fa-menu:before{background: url(../img/dark-menu.svg) no-repeat;}
body.dark-mode .menu-close .fa-menu:before, 
body.dark-mode .fa_close:before{background: url(../img/dark-close.svg) no-repeat; background-size: contain;}
body.dark-mode ul.dropdown-menu{background-color: #001731;}
body.dark-mode .three-entry .entry figure, 
body.dark-mode .four-entry .entry figure {border-bottom: 1px solid #011e40;}
body.dark-mode .three-entry .entry figure, 
body.dark-mode .four-entry .entry figure,
body.dark-mode .search-result .read-timer, 
body.dark-mode .search-result figure, 
body.dark-mode .no-captions .read-timer {background:none;}
body.dark-mode .no-captions .read-timer a{color: var(--Links_Tech_Blue);} 
body.dark-mode .videos-default .entries article.btn-entry .btn-holder a.btn{height:100%;}
body.dark-mode .google-news, 
body.dark-mode .mobile-apps{border: solid 1px #011e40;}
body.dark-mode .mobile-apps-links a{background-color: #011e40;color:#fff;}
body.dark-mode .columns{-webkit-box-shadow: 0 2px 4px 0 rgba(0, 23, 49, 0.8);-moz-box-shadow: 0 2px 4px 0 rgba(0, 23, 49, 0.8); box-shadow: 0 2px 4px 0 rgba(0, 23, 49, 0.8)}
body.dark-mode .section-sub-menu{color:#fff;}
body.dark-mode .section-title-holder .section-dropdown-menu{background-color: #001731;}
body.dark-mode .section-title-holder .section-dropdown-menu a{color:#fff;}
body.dark-mode .search-result .entry{border-bottom: 1px solid #011e40;}