@font-face {
  font-family: Almarai;
  src: local(Almarai-Regular),
    url(/path/to/Almarai-Regular.woff2) format("woff2"),
    url(/path/to/Almarai-Regular.woff) format("woff"),
    url(/path/to/Almarai-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Almarai;
  src: local(Almarai-Bold),
    url(/path/to/Almarai-Bold.woff2) format("woff2"),
    url(/path/to/Almarai-Bold.woff) format("woff"),
    url(/path/to/Almarai-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
